VERIFY_TOKEN=change_me_verify_token
INSTAGRAM_ACCESS_TOKEN=change_me_instagram_token
FACEBOOK_PAGE_ACCESS_TOKEN=change_me_facebook_page_token
WHATSAPP_ACCESS_TOKEN=change_me_whatsapp_token
LINE_CHANNEL_ACCESS_TOKEN=change_me_line_token
TIKTOK_ACCESS_TOKEN=change_me_tiktok_token
WECHAT_TOKEN=change_me_wechat_token

INSTAGRAM_REPLY_TEXT=Thanks for your Instagram message!
FACEBOOK_REPLY_TEXT=Thanks for your Facebook message!
WHATSAPP_REPLY_TEXT=Thanks for your message! This is an automated reply from your WhatsApp bot.
LINE_REPLY_TEXT=Thanks for your LINE message!
TIKTOK_REPLY_TEXT=Thanks for your TikTok message!
WECHAT_REPLY_TEXT=Thanks for your WeChat message!
